nav.navbar{


   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
   
   background-image: url("https://acarroll2myking.files.wordpress.com/2014/07/sunshine_145918109.jpg");
   background-repeat: no-repeat;
   background-position: center top;
}

nav.navbar.shrink {
  min-height: 35px;
}
